.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.container {
  padding-left: 0;
  margin-right: 0;
}

.no-scroll {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

