<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
    <form action='/users/login' method='post'>
      <label for='userid'>User Id:</label><br />
      <input type='text' id='userid' name='userid' /><br />
      <label for='password'>Password:</label><br />
      <input type='password' id='password' name='password' /><br /><br />
      <input type='submit' value='Submit' />
    </form>

    <script src='script.js'></script>
  </body>
</html>