<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>

    <h1>this is lobby page</h1>

    <div style='border: 2px solid; margin-bottom:10px'>
      <form action='/room/1' method='get'>
        This is the first box!!
        <input type='submit' value='submit' />
      </form>
    </div>

    <div style='border: 2px solid; margin-bottom:10px'>
      <form action='/room/2' method='get'>
        This is the Second box!!
        <input type='submit' value='submit' />
      </form>
    </div>

    <div style='border: 2px solid;'>
      <form action='/room/3' method='get'>
        This is the Thrid box!!
        <input type='submit' value='submit' />
      </form>
    </div>

    <script src='script.js'></script>
  </body>
</html>