<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
    This is room
    <h1 style='margin-bottom:30px'>{{roomNumber}}</h1>

    <h1>
      <form action='/game/1' method='get'>
        <input type='submit' value='Ready' />
      </form>
    </h1>

    <script src='script.js'></script>
  </body>
</html>