.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.flex {
  display: flex;
}
.chat {
  width: 25rem;
}
.chat-container {
  height: 31.25rem;
  overflow: auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
