.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.flex {
  display: flex;
}
.chat {
  width: 400px;
}
.chat-container {
  height: 500px;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
}
