.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ul {
  padding: 0;
}

.chat-container {
  height: 12.5rem;
  overflow: auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
