.lobby-container {
  display: flex;
  justify-content: center;
  padding-top: 6.25rem;
  height: 100vh;
  width: 100vw;
}

.room-container {
  width: 43.75rem;
  height: 31.25rem;
  overflow: auto;
}

.room-container ul {
  padding: 0;
}
